<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <title>Experiència - Martí</title>
  <link rel="stylesheet" href="../../css/estils.css">
</head>
<body>
  <header>
      <nav>
        <h1>My Portfolio</h1>
        <ul class="nav-links">
          <li><a href="index_ca.html"><i class="fas fa-user"></i> Sobre mi</a></li>
          <li><a href="estudis.html"><i class="fas fa-graduation-cap"></i> Estudis</a></li>
          <li><a href="experiencia.html"><i class="fas fa-briefcase"></i> Experiencia</a></li>
          <li><a href="../en/index_en.html"><i class="fas fa-globe"></i> EN</a></li>
        </ul>
      </nav>
  </header>

  <main>
    <h1>Experiència Laboral</h1>

    <img src="../../img/garbi.png" alt="Pràctiques a Garbí - Pere Vergès" class="imagen-experiencia">
    <p>He realitzat pràctiques a l’escola <strong>Garbí - Pere Vergès</strong>, a Esplugues de Llobregat. Allà vaig donar suport tècnic tant a professorat com a alumnat, resolent incidències i millorant el funcionament dels equips.</p>

    <h2>Responsabilitats</h2>
    <ul>
      <li>Assistència tècnica amb ordinadors, projectors i dispositius</li>
      <li>Instal·lació i configuració de programari</li>
      <li>Manteniment de la xarxa informàtica</li>
      <li>Gestió de comptes d'usuari</li>
    </ul>

    <h2>Ubicació Centre</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.757827151174!2d2.0939610758781986!3d41.37934597130095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a499062f9ac875%3A0x3cc20323cde70dad!2sEscola%20Garb%C3%AD%20Pere%20Verg%C3%A9s%20Esplugues!5e0!3m2!1ses!2ses!4v1746711048319!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </main>
</body>
</html>
