<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <title>Sobre mi - Martí</title>
  <link rel="stylesheet" href="../../css/estils.css">
</head>
<body>
  <header>
      <nav>
        <h1>My Portfolio</h1>
        <ul class="nav-links">
          <li><a href="index_ca.html"><i class="fas fa-user"></i> Sobre mi</a></li>
          <li><a href="estudis.html"><i class="fas fa-graduation-cap"></i> Estudis</a></li>
          <li><a href="experiencia.html"><i class="fas fa-briefcase"></i> Experiencia</a></li>
          <li><a href="../en/index_en.html"><i class="fas fa-globe"></i> EN</a></li>
        </ul>
      </nav>
  </header>

  <main>
    <h1>Hola, sóc Martí</h1>
    <img src="../../img/foto perfi´l.jpg" alt="Foto de Martí" class="imagen-perfil">
    <p>Sóc un estudiant de 17 anys apassionat per la tecnologia. Estudio Sistemes Microinformàtics i Xarxes als Jesuïtes de Bellvitge - Joan XXIII. Des de petit m’ha agradat entendre com funcionen els ordinadors i les xarxes, i per això vaig decidir endinsar-me en aquest món.</p>

    <h2>El meu objectiu</h2>
    <p>El meu somni és créixer professionalment en el sector TIC, col·laborant amb equips innovadors i aportant el millor de mi mateix. Estic obert a noves oportunitats que em permetin seguir aprenent i aportar valor amb les meves habilitats tècniques i personals.</p>

    <h2>Habilitats destacades</h2>
    <ul>
      <li>Resolució de problemes tècnics amb eficàcia</li>
      <li>Comunicació clara amb usuaris no tècnics</li>
      <li>Organització i gestió de tasques múltiples</li>
      <li>Treball en equip i col·laboració</li>
    </ul>
    <h2>El meu vídeo de CV</h2>
    <p>Aquí teniu el meu vídeo de presentació professional:</p>
    <video width="100%" controls>
      <source src="../../img/CV.mp4" type="video/mp4">
      El teu navegador no suporta la reproducció de vídeos.
    </video>
  </main>
</body>
</html>
