<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Experience - Martí Pidemunt Segura</title>
  <link rel="stylesheet" href="../../css/estils.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <footer>
        <div class="left-icons">
          <a href="../ca/index_ca.html"><i class="fas fa-solid fa-earth-americas"></i></a>
        </div>
        <div class="right-icons">
          <a href="./education.html"><i class="fas fa-solid fa-signs-post"></i></a>
          <a href="./experience.html"><i class="fas fa-solid fa-school"></i></a>
          <a href="index_en.html"><i class="fas fa-id-card"></i></a>
        </div>
    </footer>

  <main>
    <h1>Work Experience</h1>
    <img src="../../img/garbi.png" alt="Pràctiques a Garbí - Pere Vergès" class="imagen-experiencia">

    <p>I completed an internship at <strong>Garbí - Pere Vergès</strong> school, located in Esplugues de Llobregat. There, I provided technical support to teachers and students, helping improve the use and performance of technological equipment.</p>

    <h2>Main Responsibilities</h2>
    <ul>
      <li>Technical assistance with computers, projectors, and other devices</li>
      <li>Installation and configuration of software</li>
      <li>Network maintenance and connectivity issue resolution</li>
      <li>User account management</li>
    </ul>

    <h2>Location Center</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.757827151174!2d2.0939610758781986!3d41.37934597130095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a499062f9ac875%3A0x3cc20323cde70dad!2sEscola%20Garb%C3%AD%20Pere%20Verg%C3%A9s%20Esplugues!5e0!3m2!1ses!2ses!4v1746711048319!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
  </main>
    <p class="hola">@ Martí Pidemunt Segura 2024-2025</p>
</body>
</html>
