<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Metadata and links to stylesheets and icon fonts -->
  <meta charset="UTF-8">
  <title>About Me - Martí Pidemunt Segura</title>
  <link rel="stylesheet" href="../../css/estils.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <!-- Header with navigation icons -->
  <header>
    <div class="left-icons">
      <!-- Link to switch language to Catalan -->
      <a href="../ca/index_ca.html"><i class="fas fa-solid fa-earth-americas"></i></a>
    </div>
    <div class="right-icons">
      <!-- Links to other sections: education, experience, about me -->
      <a href="./education.html"><i class="fas fa-solid fa-signs-post"></i></a>
      <a href="./experience.html"><i class="fas fa-solid fa-school"></i></a>
      <a href="./index_en.html"><i class="fas fa-id-card"></i></a>
    </div>
  </header>
  <main>
    <!-- Main title -->
    <h1>Hello, I'm Martí Pidemunt Segura</h1>
    <div class="perfil-contenedor">
      <!-- Personal description -->
      <p>I'm a 17-year-old student passionate about technology. I’m currently studying Microcomputer Systems and Networks at Jesuïtes de Bellvitge - Joan XXIII. Since I was a child, I’ve been curious about how computers and networks work, which led me to pursue this field.</p>
      <!-- Profile image -->
      <img src="../../img/foto perfi´l.jpg" alt="Foto de Martí" class="imagen-perfil">
    </div>
    
    <!-- Professional goal -->
    <h2>My Goal</h2>
    <p>My goal is to grow professionally in the IT sector, collaborate with innovative teams, and contribute with my technical and personal skills. I’m always open to new opportunities to keep learning and add value.</p>

    <!-- Key skills -->
    <h2>Key Skills</h2>
    <ul>
      <li>Quick and effective troubleshooting of technical issues</li>
      <li>Clear communication with non-technical users</li>
      <li>Organizational skills and multitasking</li>
      <li>Teamwork and collaboration</li>
    </ul>
    <!-- Section for CV video -->
    <h2>El meu vídeo de CV</h2>
    <p>Aquí teniu el meu vídeo de presentació professional:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o5qgGl2-648?si=kXC-fQEz3FtAsLgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </main>
  <!-- Footer with copyright -->
  <footer>
    <p class="hola">@ Martí Pidemunt Segura 2024-2025</p>
  </footer>
</body>
</html>
