<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me - Martí Pidemunt Segura</title>
  <link rel="stylesheet" href="../../css/estils.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <footer>
    <div class="left-icons">
      <a href="../ca/index_ca.html"><i class="fas fa-solid fa-earth-americas"></i></a>
    </div>
    <div class="right-icons">
      <a href="./education.html"><i class="fas fa-solid fa-signs-post"></i></a>
      <a href="./experience.html"><i class="fas fa-solid fa-school"></i></a>
      <a href="index_en.html"><i class="fas fa-id-card"></i></a>
    </div>
</footer>

  <main>
    <h1>Hello, I'm Martí Pidemunt Segura</h1>
    <img src="../../img/foto perfi´l.jpg" alt="Foto de Martí" class="imagen-perfil">
    <p>I'm a 17-year-old student passionate about technology. I’m currently studying Microcomputer Systems and Networks at Jesuïtes de Bellvitge - Joan XXIII. Since I was a child, I’ve been curious about how computers and networks work, which led me to pursue this field.</p>

    <h2>My Goal</h2>
    <p>My goal is to grow professionally in the IT sector, collaborate with innovative teams, and contribute with my technical and personal skills. I’m always open to new opportunities to keep learning and add value.</p>

    <h2>Key Skills</h2>
    <ul>
      <li>Quick and effective troubleshooting of technical issues</li>
      <li>Clear communication with non-technical users</li>
      <li>Organizational skills and multitasking</li>
      <li>Teamwork and collaboration</li>
    </ul>
    <h2>El meu vídeo de CV</h2>
    <p>Aquí teniu el meu vídeo de presentació professional:</p>
    <video width="100%" controls>
      <source src="../../img/CV.mp4" type="video/mp4">
      El teu navegador no suporta la reproducció de vídeos.
    </video>
  </main>
  <p class="hola">@ Martí Pidemunt Segura 2024-2025</p>
</body>
</html>
